$if(page-index)$$else$
<br><br>

<div id="footer"><span class='st_sharethis' displayText='ShareThis'></span> | &copy; 2015 Dirty Cat Records | <a href="$if(subpage)$../$endif$impressum">Impressum</a> | <a href="/dcgraphics/" target="_blank">Website by Dirtycat Graphics</a></div>

</div> <!-- #main -->
</div> <!-- #page -->
$endif$

</body>
</html>
