${header()}

<p>
$for(releases)$<a href="releases/dcr$it.id$">[DCR$it.id$]</a>  $endfor$
</p>

<ul id="listing-releases" class="clearfix">

$for(releases)$
<li>
  <a href="releases/dcr$it.id$">
  <img src="img/releases/DCR$it.id$.jpg" alt="$it.title$" width="100" height="100" />
  <div class="release-info">
      <p>CAT.: DCR$it.id$</p>
      <p>TITLE: $it.title$</p>
      <p>Genres: $it.genre$<br />Releasedate: $it.date$</p>
  </div>
  <div class="release-description">
    <span>$it.description$</span>
  </div>
  </a>
</li>
$endfor$

</ul>

${footer()}
