/* CSS juergenlingmann.com, copyrights by dirtycat graphics */

/* Schriften:
font-family: 'Parisienne', cursive;
font-family: 'Mr De Haviland', cursive;
font-family: 'Herr Von Muellerhoff', cursive;
font-family: 'Amatic SC', cursive; 
	
*/

/* Allgemeine Angaben*/

html, body, td {
  	font-size: 14px;
  	font-family: 'Open Sans Condensed', sans-serif;
}







a {
	color: #990000;
	text-decoration: none;
	}




/*Navigation*/

#page {
position: relative;
margin: 0px;
padding: 0px;
}

#top {
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #000;
	font-size: 60px;
	margin: 20 0 0 0px;
	padding: 0px;
	top: 0px;
	left: 50px;
	height: 50px;
	width: 500px;
	text-align: left;
	}
#top_klein{
font-size: 30px;
margin-left: 10px;
}

#links{
position: absolute;
	top: 22px;
	left: 540px;
	margin: 20 0 0 0px;
	padding: 0px;
	height: 50px;
	width: 450px;
	text-align: left;
}

#links img {

	padding-right: 10px;
}



#navi {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: left;
	position: absolute;
	left: 50px;
	top: 100px;
	height: 50px;
	width: 100%;

	}
#navi ul {
	vertical-align: middle;
	padding: 0px;
	}
#navi ul li {
	display: inline;
	padding-right: 20px;
	}
#navi ul a {
color: #000;
padding: 5px;
	}
#navi .nav-selected a {
   color: #fff; 
   background-color: #000;
   text-decoration: none;
   font-weight: bold;
   
}



#main {
	position: absolute;
	/*border: 2px solid #000;*/
	text-align: left;
	top: 150px;	
	left: 50px;
	right: 50px;
	width: 80%;
	/*background-color: #fff;*/
	overflow: scroll;
	padding: 10px;
	}
#main td{
	color: #000;
}


	
#footer {
	width: 100%;
	color: #000;
	text-align: left;
	}
#footer ul {
	/*border-top: 2px solid #000;
	border-bottom: 2px solid #000;*/
	padding: 10px 0;
	}
#footer li {
	display: inline;
	border-right: 1px solid #000;
	padding: 0 5px;
	text-transform: lowercase; /*wenn möglich gestalterische anpassungen des texts erst in css machen*/
	}
#footer li a {
	color: #000;
	}
#footer li.last-child {
	border-right: none;
	}



#echotext {
color: #990000;
font-weight: bold;
font-size: 13px;
	}
	
	#ueberschr {
color: #000;
font-weight: bold;
font-size: 20px;
	}
