/* CSS hormonfabrik.de, copyrights by Jonas Schmid */


html, body, td, span{
	background: #fff;
  	font-size: 13px;
  	font-family: 'Orienta', sans-serif;
}

#underlined{
		border-bottom: #000 1px solid;

}

#overline	{
   border-top: #000 1px solid;
   border-bottom: 0px solid;
   border-left: 0px solid;
   border-right: 0px solid;
   d
}

h1 {
	font-size: 17px;

}

.ueberschr {
   color: #000; 
   font-size: 16px;
   padding-top: 2px;
   text-decoration: none;
  
   
}


img {
border: 0px;
}


#page {
position: relative;
color: #000;
background: #fff;
width: 960px;
	margin: 10px auto;
}

#top {

	width: 100%;
	height: 50px;
	top: 2px;
}

#logo {
	width: 100%;
	text-align: center;
	}
#logo img {
padding-top: 20px;
padding-bottom: 2px;
}

#header {
	width: 100%;
	text-align: center;
	}
#header img {
width: 20px;
}


#navi {
	text-align: center;
	 width: 100%;
	 font-size: 14px;
	 padding: 0px;

	 
	
	}

#navi ul {
	vertical-align: middle;
	/*padding: 15px 0; 	gibt der navigationsleiste etwas luft und ist flexibler als eine fixe höhe*/
	}
#navi ul li {
	display: inline;
	padding: 6px;
	}

#navi ul a {
	color: #000;
	padding: 2px;
	font-weight: bold;
	text-decoration: none;
	}


a img {
border:0px;

}



#navi .nav-selected a {
   color: #fff; 
   background-color: #000;
   text-decoration: none;
   /*border: #000 1px solid;*/
   
}



.main	{
	text-align: center;
padding: 10px;
color: #000;
}

.main h1 {
	color: #000;
}

.main a:link, a:active, a:visited  {
   color: #00DAFF; 
   text-decoration: none;
}
.main td a:link, a:active, a:visited  {
   color: #00DAFF; 
   text-decoration: none;
}
.main a:hover  {
   color: #000; 
   text-decoration: none;
}



#share	{
		margin-top: 50px;
		text-align: left;
		border-top: #000 2px solid;
		color: #000;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
}


#footer	{
		text-align: left;
		color: #000;
		width: 100%;
		padding-top: 5px;
}


#footer img{
padding-bottom: 5px;

}


