.simple_soundcloudplayer_mainbox {
	display:block;
	margin:5px;
}
.soundcloudtitle {
	line-height:50px:
	vertical-align:middle;
}
br.clear, hr.clear { clear: both; }

.c5SCPdescro {
    color: #333333;
    font-size: 11px;
    height: 13px;
    line-height: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
