/* CSS f?r records.dirtycat.ch, copyrights by Jonas Schmid */


html, body{
	background: #fff;
  	font-size: 13px;
  	font-family: 'Orienta', sans-serif;
}

#underlined{
		border-bottom: #000 1px solid;

}

#overline	{
   border-top: #000 1px solid;
   border-bottom: 0px solid;
   border-left: 0px solid;
   border-right: 0px solid;
   
}

h1 {
	font-size: 17px;

}

.ueberschr {
   color: #fff; 
   background-color: #000000;
   text-decoration: none;
   padding: 2px;
   border: #996666 1px solid;
   
}

.ueberschr1 {
   color: #fff; 
   background-color: #000000;
   text-decoration: none;
   padding: 2px;
   border: #996666 1px solid;
   font-size: 20px;
   
}

.ueberschr2 {
   font-size: 25px;
   
}
.ueberschr3 {
   color: #fff; 
   background-color: #000000;
   text-decoration: none;
   padding: 2px;
   border: #996666 1px solid;
   
}
.genre {
   font-size: 18px;
   
}


#start{
position: absolute;
vertical-align: middle;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
background: #fff;

}

img {
border: 0px;
}


#page {
position: relative;
}

#promo {
position: relative;
background: #333;
}

#logo {
	position: absolute;
	top: 15px;
	left: 35px;
	text-align: left;
	 width: 100px;
	 height: 100px;
	
	}
#logo img {
width: 100px;
}

#header {
	position: absolute;
	top: 25px;
	left: 160px;
	text-align: left;
	 width: 410px;
	 height: 100px;
	
	}
#header img{
	padding-right: 15px;
	}

#buy	{
position: absolute;
top:20px;/*73*/
left: 515px;
text-align: right;
color: #000;
width: 400px;
height: 50px;
}
#buy	img{
height: 50px;
}


#navi {
	position: absolute;
	/*top: 154px;*/
	top: 80px;
	left: 110px;
	text-align: left;
	 width: 750px;
	 height: 100px;
	 font-size: 16px;
	 
	
	}

#navi ul {
	vertical-align: middle;
	/*padding: 15px 0; 	gibt der navigationsleiste etwas luft und ist flexibler als eine fixe höhe*/
	}
#navi ul li {
	display: inline;
	padding: 6px;
	}

#navi ul a {
	color: #000;
	padding: 5px;
	font-weight: bold;
	text-decoration: none;
	}


a img {
border:0px;

}



#navi .nav-selected a {
   color: #990000; 
   background-color: #000000;
   text-decoration: none;
   font-weight: bold;
   border: #996666 1px solid;
   
}

#links	{
		position: absolute;
	top: 20px;
	left: 700px;
	text-align: center;
	 width: 300px;
	 border-left: #000 2px solid;
	 padding-left: 20px;

		
}
#links img{
			height: 25px;
			padding-left: 1px;
			padding-right: 1px;
			padding-bottom: 1px;
			padding-top: 1px;
}


.main	{
position: absolute;
top: 150px;
left: 50px;
color: #000;
width: 910px;
}

.main h1 {
	color: #000;
}

.main a:link, a:active, a:visited  {
   color: #990000; 
   text-decoration: none;
}
.main td a:link, a:active, a:visited  {
   color: #990000; 
   text-decoration: none;
}
.main a:hover  {
   color: #000; 
   text-decoration: none;
}

#promomain	{
margin: 10px auto;
padding: 10px;
background: #fff;
width: 800px;
color: #000;
}

#promomain h1 {
	color: #000;
}

#promomain a:link, a:active, a:visited  {
   color: #990000; 
   text-decoration: none;
}
#promomain a:hover  {
   color: #000; 
   text-decoration: none;
}

#share	{
		margin-top: 50px;
		text-align: left;
		border-top: #000 2px solid;
		color: #000;
		width: 910px;
		padding-top: 5px;
		padding-bottom: 5px;
}


#footer	{
		text-align: left;
		border-top: #000 2px solid;
		color: #000;
		width: 910px;
		padding-top: 5px;
}



#footer a:link, a:active, a:visited  {
   color: #000; 
   text-decoration: none;
}
#footer a:hover {
	color: #990000;

}

#promofooter	{
		text-align: center;
		border-top: #000 2px solid;
		color: #000;
		width: 800px;
		padding-top: 5px;
}



#promofooter a:link, a:active, a:visited  {
   color: #000; 
   text-decoration: none;
}
#promofooter a:hover {
	color: #990000;

}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* rules for individual pages */

.soundcloud-wrapper {
    margin:13px 5px 5px;
    padding-bottom:11px;
}

.soundcloud-wrapper p {
    margin:0;
}

#listing-releases {
    margin:50px 0 9px;
    padding:0px;
}

#listing-releases li {
    display:block;
    float:left;
    clear:both;
    min-height:128px;
}

#listing-releases a {
}

#listing-releases p {
    margin:0 0 10px;
}

#listing-releases img {
    float:left;
    padding:7px;
    padding-right:55px;
}

#listing-releases .release-info {
    float:left;
    width:250px;
    padding:7px;
    min-height:100px;
}

#listing-releases .release-description {
    float:left;
    width:400px;
    color:black;
    padding:5px;
    min-height:100px;
    margin-top:12px;
}
