<br><br>

<div id="footer"><img src="$if(subpage)$../$endif$img/einhoerner3.jpg"> <span class='st_sharethis' displayText='ShareThis'></span> | &copy; 2015 Hormonfabrik | <a href="$if(subpage)$../$endif$impressum">Impressum</a> | Website by Jonas Martin Schmid</div>

</div> <!-- #main -->

</div> <!-- #page -->

</body>

</html>
