<br>
<div id="footer">
  <hr>
  <ul>
    <li> &copy; 2015 Jonas Martin Schmid</li>
    <li> Photos by <a href="http://www.winniechristiansen.com/" target="_blank">Winnie Christiansen</a> und <a href="http://www.max-albrecht.com/" target="_blank">Max Albrecht</a> </li>
    <li><a href="impressum">Impressum</a></li>
    <li class="last-child"><a href="/dcgraphics" target="_blank">Website by Jonas Martin Schmid</a></li>
  </ul>
</div> <!-- #footer -->

</div> <!-- #main -->
</div> <!-- #page -->

<!-- PAGE SPECIFIC FOOTER CONTENT -->

$if(page-audio)$
<script type="text/javascript">
  $$(document).ready(function(){
    new jPlayerPlaylist({jPlayer: "#jquery_jplayer_325", cssSelectorAncestor: "#jp_container_325"},
    [
      {title: "01 Einlass",free: 0,mp3: "sound/pl1/01_Einlass.mp3"},
      {title: "02 Teil I - Warum ich?",free: 0,mp3: "sound/pl1/02_Teil_1_-_Warum_ich__.mp3"},
      {title: "03 Krebspatient",free: 0,mp3: "sound/pl1/03_Krebspatient.mp3"},
      {title: "04 Walzer",free: 0,mp3: "sound/pl1/04_Walzer.mp3"},
      {title: "05 Teufel",free: 0,mp3: "sound/pl1/05_Teufel.mp3"},
      {title: "06 Aufstieg",free: 0,mp3: "sound/pl1/05_Aufstieg.mp3"},
      {title: "07 Biobierhimmel",free: 0,mp3: "sound/pl1/06_Biobierhimmel.mp3"},
      {title: "08 Teil II - Warum nicht?",free: 0,mp3: "sound/pl1/07_Teil_2_-_Warum_nicht_.mp3"},
      {title: "09 Teil III - Party",free: 0,mp3: "sound/pl1/08_Teil_3_-_Party.mp3"},
      {title: "10 See-Anemonen",free: 0,mp3: "sound/pl1/09_See-Anemonen.mp3"},
      {title: "11 Teil IIII - Hunger1",free: 0,mp3: "sound/pl1/10_Teil_4_-_Hunger_1.mp3"},
      {title: "12 Teil IIII - Hunger2",free: 0,mp3: "sound/pl1/11_Teil_4_-_Hunger_2.mp3"},
      {title: "13 Lieglingssong",free: 0,mp3: "sound/pl1/12_Lieblingssong.mp3"},
      {title: "14 Ende",free: 0,mp3: "sound/pl1/13_Ende.mp3"}
    ],
    {
      playlistOptions: {autoPlay: 0 },
      swfPath: "/packages/html5_audio_player_pro/flash/",
      wmode: "window",
      volume: 0.8,
      free: false,
      loop: false,
      supplied: "mp3",
      ready: function(){$$("#jp_container_325 .jp-current-title").html($$(this).data("jPlayer").status.media.title);},
      play: function(){$$(this).jPlayer("pauseOthers");$$("#jp_container_325 .jp-current-title").html($$(this).data("jPlayer").status.media.title);}
    });
  });
</script>

<script type="text/javascript">
  $$(document).ready(function(){
    new jPlayerPlaylist({jPlayer: "#jquery_jplayer_296",cssSelectorAncestor: "#jp_container_296"},
    [
      {title: "Track 01",free: 0,mp3: "sound/pl2/Track_01.mp3"},
      {title: "Track 02",free: 0,mp3: "sound/pl2/Track_02.mp3"},
      {title: "Track 03",free: 0,mp3: "sound/pl2/Track_03.mp3"},
      {title: "Track 04",free: 0,mp3: "sound/pl2/Track_04.mp3"},
      {title: "Track 05",free: 0,mp3: "sound/pl2/Track_05.mp3"},
      {title: "Track 06",free: 0,mp3: "sound/pl2/Track_06.mp3"},
      {title: "Track 07",free: 0,mp3: "sound/pl2/Track_07.mp3"}
    ],
    {
      playlistOptions: {autoPlay: 0 },
      swfPath: "/packages/html5_audio_player_pro/flash/",
      wmode: "window",
      volume: 0.8,
      free: false,
      loop: false,
      supplied: "mp3",
      ready: function() {$$("#jp_container_296 .jp-current-title").html($$(this).data("jPlayer").status.media.title);},
      play: function(){$$(this).jPlayer("pauseOthers");$$("#jp_container_296 .jp-current-title").html($$(this).data("jPlayer").status.media.title);}
    });
  });
</script>

<script type="text/javascript">
  $$(document).ready(function(){
    new jPlayerPlaylist({jPlayer: "#jquery_jplayer_305",cssSelectorAncestor: "#jp_container_305"},
    [
      {title: "Der Präsident (Atmo)",free: 0,mp3: "sound/pl3/Anfang.mp3"},
      {title: "Der Präsident (Atmo)",free: 0,mp3: "sound/pl3/Atmo_Praesident.mp3"},
      {title: "Der Baron (Beat)",free: 0,mp3: "sound/pl3/Atmo_Baron.mp3"},
      {title: "Der Baron (Atmo)",free: 0,mp3: "sound/pl3/Beat_Baron.mp3"},
      {title: "Der Makler (Atmo)",free: 0,mp3: "sound/pl3/Atmo_Makler.mp3"},
      {title: "Der Makler (Beat)",free: 0,mp3: "sound/pl3/Beat_Makler.mp3"},
      {title: "Die Prospektorin (Atmo)",free: 0,mp3: "sound/pl3/Atmo_Prospektor.mp3"},
      {title: "Die Prospektorin (Beat)",free: 0,mp3: "sound/pl3/Beat_Prospektor.mp3"},
      {title: "Das Kirchenoberhaupt (Atom)",free: 0,mp3: "sound/pl3/Atmo_Scientology.mp3"},
      {title: "Das Kirchenoberhaupt (Beat)",free: 0,mp3: "sound/pl3/Beat_Scientology.mp3"},
      {title: "Orgie (Beat)",free: 0,mp3: "sound/pl3/Beat_Orgie.mp3"}
    ],
    {
      playlistOptions: {autoPlay: 0 },
      swfPath: "/packages/html5_audio_player_pro/flash/",
      wmode: "window",
      volume: 0.8,
      free: false,
      loop: false,
      supplied: "mp3",
      ready: function() {$$("#jp_container_305 .jp-current-title").html($$(this).data("jPlayer").status.media.title);},
      play: function(){$$(this).jPlayer("pauseOthers");$$("#jp_container_305 .jp-current-title").html($$(this).data("jPlayer").status.media.title);}
    });
  });
</script>

<script type="text/javascript">
  $$(document).ready(function(){
    new jPlayerPlaylist({jPlayer: "#jquery_jplayer_204",cssSelectorAncestor: "#jp_container_204"},
    [
      {title: "Anfang",free: 0,mp3: "sound/pl4/01_Anfang.mp3"},
      {title: "Mandy",free: 0,mp3: "sound/pl4/02_Mandy.mp3"},
      {title: "Mittagstisch",free: 0,mp3: "sound/pl4/03_Mittagstisch.mp3"},
      {title: "Mauerfall Punk",free: 0,mp3: "sound/pl4/05_Mauerfall_Punk.mp3"},
      {title: "Beerdigung",free: 0,mp3: "sound/pl4/06_Beerdigung.mp3"},
      {title: "Schmetterlinge",free: 0,mp3: "sound/pl4/07_Schmetterlinge.mp3"},
      {title: "Bett",free: 0,mp3: "sound/pl4/08_Bett.mp3"},
      {title: "Tankstelle",free: 0,mp3: "sound/pl4/09_Tankstelle.mp3"},
      {title: "Regen",free: 0,mp3: "sound/pl4/10_Rain_1.mp3"},
      {title: "Ende",free: 0,mp3: "sound/pl4/11_Ende.mp3"}
    ],
    {
      playlistOptions: {autoPlay: 0 },
      swfPath: "/packages/html5_audio_player_pro/flash/",wmode: "window",
      volume: 0.8,
      free: false,
      loop: false,
      supplied: "mp3",
      ready: function() {$$("#jp_container_204 .jp-current-title").html($$(this).data("jPlayer").status.media.title);},
      play: function(){$$(this).jPlayer("pauseOthers");$$("#jp_container_204 .jp-current-title").html($$(this).data("jPlayer").status.media.title);}
    });
  });
</script>

<script type="text/javascript">
  $$(document).ready(function(){
    new jPlayerPlaylist({jPlayer: "#jquery_jplayer_210",cssSelectorAncestor: "#jp_container_210"},
    [
      {title: "Corpse",free: 0,mp3: "sound/pl5/Corpse.mp3"},
      {title: "Der Melancholiker",free: 0,mp3: "sound/pl5/Der_Melancholiker.mp3"},
      {title: "Dukenmord",free: 0,mp3: "sound/pl5/Dukenmord.mp3"},
      {title: "Piatos Show",free: 0,mp3: "sound/pl5/Piatos_Show.mp3"}
    ],
    {
      playlistOptions: {autoPlay: 0 },
      swfPath: "/packages/html5_audio_player_pro/flash/",
      wmode: "window",
      volume: 0.8,
      free: false,
      loop: false,
      supplied: "mp3",
      ready: function() {$$("#jp_container_210 .jp-current-title").html($$(this).data("jPlayer").status.media.title);},
      play: function(){$$(this).jPlayer("pauseOthers");$$("#jp_container_210 .jp-current-title").html($$(this).data("jPlayer").status.media.title);}
    });
  });
</script>
$endif$

$if(page-sprechen)$
<script type="text/javascript">
  $$(document).ready(function(){
    $$("#jquery_jplayer_201").jPlayer({
      ready: function (event) {
        $$(this).jPlayer("setMedia",{mp3: "sound/Stimmprobe_Jonas_Martin_Schmid_-_Molly_Sweeney.mp3", title:"Molly Sweeney von Brian Friel"});
        $$("#jp_container_201 .jp-title .jp-current-title").html($$(this).data("jPlayer").status.media.title);
        $$("#jp_container_201 .jp-single-download").html('<a href="" target="_blank">Herunterladen</a>');
      },
      play: function(event) {
        $$(this).jPlayer("pauseOthers");
      },
      swfPath: "/packages/html5_audio_player_pro/flash/",
      wmode: "window",
      volume: 0.8,
      free: true,
      loop: false,
      supplied: "mp3",
      cssSelectorAncestor: "#jp_container_201"
    });
  });
</script>
$endif$

</body></html>
